body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.font-scale-pct-10 { font-size: 10%; }
.font-scale-pct-20 { font-size: 20%; }
.font-scale-pct-30 { font-size: 30%; }
.font-scale-pct-40 { font-size: 40%; }
.font-scale-pct-50 { font-size: 50%; }
.font-scale-pct-60 { font-size: 60%; }
.font-scale-pct-70 { font-size: 70%; }
.font-scale-pct-80 { font-size: 80%; }
.font-scale-pct-90 { font-size: 90%; }
.font-scale-pct-100 { font-size: 100%; }
.font-scale-pct-110 { font-size: 110%; }
.font-scale-pct-120 { font-size: 120%; }
.font-scale-pct-130 { font-size: 130%; }
.font-scale-pct-140 { font-size: 140%; }
.font-scale-pct-150 { font-size: 150%; }
.font-scale-pct-160 { font-size: 160%; }
.font-scale-pct-170 { font-size: 170%; }
.font-scale-pct-180 { font-size: 180%; }
.font-scale-pct-190 { font-size: 190%; }
.font-scale-pct-200 { font-size: 200%; }

#case-timer-event-browser-container {
}

.bottom-border {
    border-bottom: solid #333 .05em;
}

.h2 {
    //font-weight: bold;
    //border-bottom: solid #333 .05em;
}

.h4 {
    //font-size: 16pt;
    //font-weight: bold;
}

.indent {
    margin-left: 1.5em;
}


.property-card-flex-layout {
    display: flex;
    flex-wrap: wrap;
}

// Case Timer Event Styles
.scrollable-container {
    border: solid 1px #ccc;
    overflow: scroll;
    min-height: 50px;
    max-height: 500px;

    table {
        margin-bottom: 0;
        tbody {
            tr {
                border-top: 1px solid #ddd;
            }
            td {
                padding: .3em;
                line-height: 1.1em;
            }
        }
    }
}

// table row highlight
.row-highlight {
    //background: #d5eafd;
    background: #0f0;
}

.property-label-and-value {
    margin: 2px;
    border: 1px solid black;
    display: block;
    padding: 1px;

    .property-label {
        font-weight: bold;
        margin: 3px;
        display: inline;
    }
    .property-value {
        margin: 3px;
        display: inline;
    }    
}


//***************************************************************************

// custom timeline styles
.timeline-chart {

    // lines separating each series/track of data
    // .series-divider {
    //     stroke: #ddd;
    // }

    // default point colors
    circle.dot {
        fill: white;
        stroke: gray;
        fill-opacity: 0.7;
        // &.point-white {
        //     fill: white;
        //     stroke: black;
        // }
        &.chart-node-highlight {
            fill: #0f0 !important;
        }
    }

    // default interval and text colors
    rect.interval {
        fill: white;
        stroke: gray;
        fill-opacity: 0.7;
        &.chart-node-highlight {
            fill: #0f0 !important;
        }
    }
    .interval-text {
        fill: #333;
        stroke: #333;
    }

    // white
    .interval-white {
        &.interval {
            fill: white;
            stroke: #444;
        }
    }

    // green
    .interval-green {
        &.interval {
            fill: green;
            stroke: black;
        }
    }

    // yellow
    .interval-yellow {
        &.interval {
            fill: yellow;
            stroke: black;
        }
    }

    // orange
    .interval-orange {
        &.interval {
            fill: orange;
            stroke: black;
        }
    }

    // red
    .interval-red {
        &.interval {
            fill: red;
            stroke: black;
        }
    }

}


// Override d3 tip styling
.d3-tip {
    border-radius: 8px;
    width: 500px;
    line-height: 1.3;

    .tip-heading {
        color: rgb(103, 174, 255);
        font-weight: bold;
    }
    .tip-body {
        font-size: 80%;
        font-weight: normal;
    }
}



@mixin responsive-table {
    /* Force table to not be like tables anymore */
    table, 
    thead, 
    tbody, 
    th, 
    td, 
    tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding: 0 0 0 30% !important; 
        white-space: normal;
        text-align:left;
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        /* top: 6px; */
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    // Label the data
    td:before { content: attr(data-title); }
}

// responsive table styles
@media only screen and (max-width: 1600px) {
    .responsive-table-1600 { @include responsive-table(); }
}

@media only screen and (max-width: 1500px) {
    .responsive-table-1500 { @include responsive-table(); }
}

@media only screen and (max-width: 1300px) {
    .responsive-table-1300 { @include responsive-table(); }
}

@media only screen and (max-width: 1100px) {
    .responsive-table-1100 { @include responsive-table(); }
}

