*, *:after, *:before {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial;
}
body > section {
    height: 100%;
    width: 100%;
}
.heading {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: .5em;
}
.note {
    margin: 6px 0;
    border: solid #ffeece 3px;
    background: #fffbf3;
    padding: 10px;
}


.chart-container {
    border: solid 1px #444; 
    min-height: 50px;
}


/* for dynamically generated links */
/* .view-related-details-link {
    cursor: pointer;
} */
