*, *:after, *:before {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial;
}
body > section {
    height: 100%;
    width: 100%;
}
.heading {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: .5em;
}
.note {
    margin: 6px 0;
    border: solid #ffeece 3px;
    background: #fffbf3;
    padding: 10px;
}


.chart-container {
    border: solid 1px #444; 
    /* overflow-y: overlay; */
}

/* #chart {
    /* width: 90%; * /
    /* height: 300px; * /
    margin: 40px;
    /* background: rgb(218, 218, 218); * /
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
}

#chart line {
    stroke: #a0a0a0;
}

#chart line.vertical-marker.now {
    stroke: #c00;
}

/* horizontal lines between groups * /
#chart line.group-section {
    stroke: #bbb;
    stroke-width: 3;
} */


/* rect.interval.interval-green {
    fill: green;
    stroke: black;
} */

/* rect.interval.interval-yellow {
    fill: yellow;
    stroke: black;
}
text.interval-text.interval-yellow {
    fill: black;
    stroke: black;
} */

/* rect.interval.interval-orange {
    fill: orange;
    stroke: black;
}
text.interval-text.interval-orange {
    fill: black;
    stroke: black;
}

rect.interval.interval-red {
    fill: red;
    stroke: black;
}
text.interval-text.interval-red {
    fill: black;
    stroke: black;
}

rect.interval.interval-white {
    fill: white;
    stroke: black;
}
text.interval-text.interval-white {
    fill: black;
    stroke: black;
}

circle.dot.point-white {
    fill: white;
    stroke: black;
} */

/*
rect.interval.blue-interval {
    fill: blue;
    stroke: blue;
}

circle.blue-dot {
    fill: blue;
}
*/


/* Override d3tip

.d3-tip {
    font-weight: normal;
    border-radius: 8px;
    line-height: 1.2;
    /*
    background: white;
    color: black;
    * /
} */





/* Case Timer Event Styles */
/* .details-container {
    border: solid 1px #444;
    overflow: scroll;
} */

/* .case-timer-event {
    margin: 5px;
    border: 3px solid #CCC;
}

.case-timer-event-property {
    /* margin: 3px; * /
    font-size: large;
}

.case-timer-event-property-label {
    margin: 5px;
    width: 200px;
    color: #555;
    display: inline-block;
}

.case-timer-event-property-value {
    margin: 5px;
    display: inline-block;
    color: #333;
    display: inline-block;
}


.highlighted {
    background: #d5eafd;
} */



@media only screen and (max-width: 1300px) {
	
	/* Force table to not be like tables anymore */
	.responsive-table table, 
	.responsive-table thead, 
	.responsive-table tbody, 
	.responsive-table th, 
	.responsive-table td, 
	.responsive-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.responsive-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.responsive-table tr { border: 1px solid #ccc; }
 
	.responsive-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding: 0 0 0 30% !important; 
		white-space: normal;
		text-align:left;
	}
 
	.responsive-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		/* top: 6px; */
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	.responsive-table td:before { content: attr(data-title); }
}

/* for dynamically generated links */
/* .view-related-details-link {
    cursor: pointer;
} */
